{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Focus</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'vehicle/images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'vehicle/vendor/owl-carousel/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'vehicle/vendor/owl-carousel/css/owl.theme.default.min.css' %}">
    <link href="{% static 'vehicle/vendor/jqvmap/css/jqvmap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vehicle/css/style.css' %}" rel="stylesheet">



</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <!--{% static 'vehicle/' %}-->
            <a href="{% url 'home' %}" class="brand-logo">
                <img class="logo-abbr" src="{% static 'vehicle/images/logo.png' %}" alt="">
                <img class="logo-compact" src="{% static 'vehicle/images/logo-text.png' %}" alt="">
                <img class="brand-title" src="{% static 'vehicle/images/logo-text.png' %}" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            <div class="search_bar dropdown">
                                <span class="search_icon p-3 c-pointer" data-toggle="dropdown">
                                    <i class="mdi mdi-magnify"></i>
                                </span>
                                <div class="dropdown-menu p-0 m-0">
                                    <form action="{% url 'search-vehicle' %}" method="POST">
                                        {% csrf_token %}
                                        <input class="form-control" name="searched" type="search" placeholder="Search Vehicle" aria-label="Search">
                                    </form>
                                </div>
                            </div>
                        </div>

                        <ul class="navbar-nav header-right">
                            {% if user.is_authenticated %}
                                <li class="nav-item dropdown header-profile">
                                    <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                        <i class="mdi mdi-account"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="{% url 'logout-user' %}" class="dropdown-item">
                                            <i class="icon-key"></i>
                                            <span class="ml-2">Logout</span>
                                        </a>
                                    </div>
                                </li>
                            {% else %}
                                <li class="nav-item dropdown header-profile">
                                    <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                        <i class="mdi mdi-account"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="{% url 'login-user' %}" class="dropdown-item">
                                            <i class="icon-key"></i>
                                            <span class="ml-2">Login/Register</span>
                                        </a>
                                    </div>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label first">Main Menu</li>
                    <li><a href="{% url 'home' %}" aria-expanded="false"><i
                                class="icon icon-single-04"></i><span class="nav-text">Dashboard</span></a>
                    </li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-app-store"></i><span class="nav-text">Vehicles</span></a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'vehicle-list' %}">Vehicle List</a></li>
                            {% if user.is_authenticated %}
                                <li><a href="{% url 'add-vehicle' %}">Add Vehicle</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
                {% if user.is_authenticated %}
                    <div class="row page-titles mx-0">
                        <div class="col-sm-6 p-md-0">
                            <div class="welcome-text">
                                <h4>Hi, welcome back</h4>
                                <p class="mb-0">Your business dashboard template</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="stat-widget-two card-body">
                                <div class="stat-content">
                                    <div class="stat-text">Camera 1</div>
                                    <div class="stat-digit"><iframe width="150" height="100" src="{{ vehicle.camera1 }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="stat-widget-two card-body">
                                <div class="stat-content">
                                    <div class="stat-text">Camera 2</div>
                                    <div class="stat-digit"><iframe width="150" height="100" src="{{ vehicle.camera2 }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <a href="">
                            <div class="card">
                                <div class="stat-widget-two card-body">
                                    <div class="stat-content">
                                        <div class="stat-text text-danger">OFF</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <a href="">
                            <div class="card">
                                <div class="stat-widget-two card-body">
                                    <div class="stat-content">
                                        <div class="stat-text text-success">ON</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <!-- /# card -->
                    </div>
                    <!-- /# column -->
                </div>
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Static Map</h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-8">
                                        <div>
                                            <iframe src="{{ vehicle.location }}" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="card">
                            <div class="card-body text-center">
                                <div>
                                    <h4 class="card-title">Speed</h4>
                                    <h2>{{ vehicle.speed }}</h2>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning w-85" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body text-center">
                                <div>
                                    <h4 class="card-title">Average Speed</h4>
                                    <h2>{{ vehicle.avg_speed }}</h2>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success w-85" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body text-center">
                                <div>
                                    <h4 class="card-title">Engine Status</h4>
                                    <h2>{{ vehicle.engine }}</h2>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary w-85" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body text-center">
                                <div>
                                    <h4 class="card-title">Fuel Level</h4>
                                    <h2>{{ vehicle.fuel_level }}</h2>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning w-85" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body text-center">
                                <div>
                                    <h4 class="card-title">Tempearture</h4>
                                    <h2>{{ vehicle.temperature }}</h2>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success w-85" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <!-- /# card -->
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Developed by <a href="https://aswathysaji.github.io/" target="_blank">Aswathy Saji </a> <script>document.write(new Date().getFullYear())</script></p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="{% static 'vehicle/vendor/global/global.min.js' %}"></script>
    <script src="{% static 'vehicle/js/quixnav-init.js' %}"></script>
    <script src="{% static 'vehicle/js/custom.min.js' %}"></script>


    <!-- Vectormap -->
    <script src="{% static 'vehicle/vendor/raphael/raphael.min.js' %}"></script>
    <script src="{% static 'vehicle/vendor/morris/morris.min.js' %}"></script>


    <script src="{% static 'vehicle/vendor/circle-progress/circle-progress.min.js' %}"></script>
    <script src="{% static 'vehicle/vendor/chart.js/Chart.bundle.min.js' %}"></script>

    <script src="{% static 'vehicle/vendor/gaugeJS/dist/gauge.min.js' %}"></script>

    <!--  flot-chart js -->
    <script src="{% static 'vehicle/vendor/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'vehicle/vendor/flot/jquery.flot.resize.js' %}"></script>

    <!-- Owl Carousel -->
    <script src="{% static 'vehicle/vendor/owl-carousel/js/owl.carousel.min.js' %}"></script>

    <!-- Counter Up -->
    <script src="{% static 'vehicle/vendor/jqvmap/js/jquery.vmap.min.js' %}"></script>
    <script src="{% static 'vehicle/vendor/jqvmap/js/jquery.vmap.usa.js' %}"></script>
    <script src="{% static 'vehicle/vendor/jquery.counterup/jquery.counterup.min.js' %}"></script>


    <script src="{% static 'vehicle/js/dashboard/dashboard-1.js' %}"></script>

</body>

</html>